@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

//header
.header {
  &__bg {
    padding-bottom: 48px;
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
  }
  &__text-color {
    color: #000;
  }
  &__top {
    padding: 49px 10px 26px;
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 27px;
    border-bottom: 1px solid rgba(249, 249, 249, 0.14);
  }
  &__top--color {
    border-bottom: 1px solid rgba(145, 145, 145, 0.14);
  }
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: -30px;
      width: 28px;
      height: 28px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  &__item-text {
    max-width: 236px;
  }
  &__item-email {
    color: #fff;
    font-family: 'TT Norms Medium';
  }
  &__item-email--color {
    color: #000;
  }
  &__item-phone {
    color: #fff;
    font-size: 23px;
  }
  &__item-phone--color {
    color: #000;
  }
  &__item-date {
    font-size: 14px;
    margin-bottom: 4px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__block {
  }
  &__title {
    @extend %title-font;
    line-height: 58px;
    font-size: 58px;
    span {
      color: #6496ae;
    }
    margin-top: 17px;
    margin-bottom: 22px;
  }
  &__text {
    font-size: 20px;
    margin-bottom: 55px;
  }
  &__box {
    display: flex;
    align-items: center;
    margin-bottom: 73px;
  }
  &__btn {
    @extend %medium-font;
    background: radial-gradient(
      54.12% 54.12% at 50% 50%,
      #6496ae 0%,
      #6496ae 0.01%,
      #97bdcf 100%
    );
    border-radius: 10px;
    max-width: 351px;
    font-size: 17px;
    line-height: 22px;

    padding: 27px 56px 27px 52px;
    color: #fff;
    margin-right: 38px;
    cursor: pointer;
    transition: 0.8s ease;
    border: none;
    &:hover {
      background: radial-gradient(
        54.12% 54.12% at 50% 50%,
        #3e5f6d 0%,
        #6496ae 0.01%,
        #236a8b 100%
      );
    }
  }
  &__box-text {
    font-size: 17px;
    line-height: 22px;
    max-width: 300px;
  }
  &__content-items {
    display: flex;
    align-items: center;
    gap: 57px;
  }
  &__content-item {
    max-width: 368px;
  }
  &__content-title {
    @extend %title-font;
    font-size: 60px;
    background-clip: text;
    color: #6496ae;
    line-height: 78px;
  }
  &__content-text {
    font-size: 16px;
    line-height: 21px;
  }
  &__flex-items {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &__flex-item {
    box-shadow: inset 0px 0px 0px 3px rgb(255 255 255 / 2%);
    border-radius: 15px;
    max-width: 308px;
    padding: 37px 32px;
    text-align: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.07);
    &::after {
      content: '';
      position: absolute;
      top: -22px;
      right: 138px;
      width: 41px;
      background-image: url(../img/flex-ic.svg);
      height: 41px;
    }
  }
  &__flex-text {
    font-size: 17px;
    line-height: 22px;
  }
}

.menu {
  margin-bottom: 60px;
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__list-link {
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    @extend %medium-font;
  }
  &__list-link--color {
    color: #000;
  }
  &__list-link--func {
    position: relative;
    &::after {
      content: '';
      background-image: url(../img/menu-ar.svg);
      position: absolute;
      top: 8px;
      width: 9px;
      height: 4px;
      right: -16px;
    }
  }
  &__list-link--black {
    position: relative;
    &::after {
      content: '';
      background-image: url(../img/menu-ar1.svg);
      position: absolute;
      top: 8px;
      width: 9px;
      height: 4px;
      right: -16px;
    }
  }
}
.menu--marg {
  margin-bottom: 38px;
}
//header

//about
.about {
  padding-top: 15px;
  &__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      background-image: url(../img/clouds1.png);
      width: 386px;
      height: 300px;
      bottom: -158px;
      right: 143px;
    }
    &::before {
      content: '';
      position: absolute;
      background-image: url(../img/clouds2.png);
      width: 401px;
      height: 300px;
      bottom: -128px;
      right: 175px;
    }
  }
  &__title {
    padding-top: 63px;
    max-width: 830px;
    margin-bottom: 43px;
    span {
      color: #6496ae;
    }
  }
  &__text {
    font-size: 19px;
    color: #fff;
    line-height: 28px;
    background: radial-gradient(
      54.12% 54.12% at 50% 50%,
      #6496ae 0%,
      #6496ae 0.01%,
      #97bdcf 100%
    );
    box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(21px);
    border-radius: 15px;
    max-width: 643px;
    padding: 20px;
  }
  &__text:first-child {
    margin-bottom: 10px;
  }
}
//about

//benefits
.benefits {
  margin-top: -28px;
  margin-bottom: 96px;
  &__title {
    margin-bottom: 56px;
    max-width: 830px;
    line-height: 60px;
    span {
      color: #6496ae;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 70px;
    column-gap: 53px;
  }
  &__item {
    max-width: 425px;
  }
  &__img {
    margin-bottom: 30px;
  }
  &__item-title {
    @extend %medium-font;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 16px;
    line-height: 24px;
  }
}
//benefits

//services
.services {
  margin-bottom: 130px;
  &__title {
    max-width: 582px;
    margin-bottom: 46px;
    line-height: 65px;
    span {
      color: #6496ae;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: repeat(1, 1fr);
    gap: 20px;
  }
  &__item {
    position: relative;
    border-radius: 25px;
    max-width: 335px;
    max-height: 372px;
    transition: transform 0.2s;
  }
  &__item:hover {
    transform: scale(1.02);
  }
  &__icon {
    display: inline;
    margin-left: 5px;
    position: relative;
    top: 1px;
  }
  &__text {
    position: absolute;
    bottom: 50px;
    left: 30px;
    max-width: 174px;
    color: #fff;
    font-size: 25px;
    line-height: 32px;
    @extend %medium-font;
  }
}
//services

//news
.news {
  margin-bottom: 115px;
  &__title {
    max-width: 900px;
    margin-bottom: 46px;
    line-height: 65px;
    span {
      color: #6496ae;
    }
  }
  &__title-2 {
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 55px;
  }
  &__slider {
  }
  &__slider-link {
    position: relative;
    margin-right: 1px;
  }
  &__slider-img {
  }
  &__slider-text {
    @extend %medium-font;
    position: absolute;
    bottom: 37px;
    left: 20px;
    color: #fff;
    max-width: 311px;
    font-size: 25px;
    line-height: 32px;
  }
  &__slider-date {
    @extend %medium-font;
    color: #fff;
    position: absolute;
    top: 40px;
    left: 20px;
    padding: 12px 19px;
    background: radial-gradient(
      54.12% 54.12% at 50% 50%,
      #6496ae 0%,
      #6496ae 0.01%,
      #97bdcf 100%
    );
    border-radius: 5px;
    font-size: 14px;
    line-height: 18px;
  }
}
.slick-dots {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    margin: 0 5px;
  }
  button {
    background-color: #ebebeb;
    border: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    padding: 0;
    font-size: 0;
  }
  li.slick-active {
    button {
      background: radial-gradient(
        54.12% 54.12% at 50% 50%,
        #6496ae 0%,
        #6496ae 0.01%,
        #97bdcf 100%
      );
    }
  }
}

//news

//contact
.contacts {
  position: relative;
  &__inner {
    padding: 40px 30px;
    display: flex;
    position: absolute;
    top: 75px;
    background: radial-gradient(
        100% 100% at 0% 0%,
        rgba(255, 255, 255, 0.82) 0%,
        rgba(255, 255, 255, 0.2) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(21px);
    border-radius: 15px;
  }
  &__block:first-child {
    margin-right: 79px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: -41px;
      bottom: 0;
      right: -41px;
      width: 1px;
      height: 603px;
      background-color: #fff;
    }
  }
  &__title {
    @extend %title-font;
    font-size: 31px;
    line-height: 37px;
    max-width: 313px;
    margin-bottom: 25px;
    span {
      color: #6496ae;
    }
  }
  &__title--width {
    max-width: 261px;
  }
  &__text {
    color: #808080;
    font-size: 17px;
    line-height: 22px;
    max-width: 325px;
    margin-bottom: 39px;
  }
  &__list {
  }
  &__list-item {
    max-width: 350px;
    padding-left: 37px;
    position: relative;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 15px;
    &::after {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      width: 22px;
      height: 16px;
      background-image: url(../img/check-ic.svg);
    }
  }
  &__list-item:last-child {
    margin-bottom: 28px;
  }
  &__form-num {
    background: #f3f3f3;
    border-radius: 15px;
    border: none;
    padding: 29px 37px;
    margin-bottom: 20px;
    font-family: 'TT Norms', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #8d8d8d;
    min-width: 344px;
    display: block;
  }
  &__form-num::placeholder {
    font-family: 'TT Norms', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #8d8d8d;
  }
  &__form-btn {
    @extend %medium-font;
    color: #fff;
    border: none;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    width: 344px;
    height: 79px;
    background: radial-gradient(
      54.12% 54.12% at 50% 50%,
      #6496ae 0%,
      #6496ae 0.01%,
      #97bdcf 100%
    );
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    &:hover {
      background: radial-gradient(
        54.12% 54.12% at 50% 50%,
        #3e5f6d 0%,
        #6496ae 0.01%,
        #236a8b 100%
      );
    }
  }
  &__phone,
  &__adress {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__phone {
    margin-bottom: 76px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 79px;
      bottom: 0;
      right: -30px;
      width: 341px;
      height: 1px;
      background-color: #fff;
    }
  }
  &__phone-date {
    font-size: 14px;
    line-height: 12px;
    color: #959595;
  }
  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &__phone-num {
    font-size: 23px;
    color: #000;
    line-height: 29px;
  }
  &__email-title {
    font-family: 'TT Norms', sans-serif;
    font-weight: 400;
    font-size: 31px;
    line-height: 37px;
    margin-bottom: 25px;
  }
  &__email {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  &__email-text {
    font-size: 15px;
    line-height: 19px;
  }
  &__email-name {
    color: #000;
    font-family: 'TT Norms Medium';
    font-size: 15px;
    line-height: 19px;
  }
  &__adress {
    margin-bottom: 25px;
  }
  &__adress-text {
    max-width: 236px;
    font-size: 15px;
    line-height: 19px;
  }
}
//contact

// page article ==============================================================

//article
.article {
  margin-bottom: 138px;
  &__title {
    @extend %title-font;
    margin: 0 auto;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    max-width: 1178px;
    margin-bottom: 50px;
  }
  &__date {
    @extend %medium-font;
    color: #fff;
    padding: 12px 19px;
    background: radial-gradient(
      54.12% 54.12% at 50% 50%,
      #6496ae 0%,
      #6496ae 0.01%,
      #97bdcf 100%
    );
    border-radius: 5px;
    font-size: 14px;
    line-height: 18px;
    position: relative;
    bottom: 5px;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 50px;
  }
  &__block {
  }
  &__block--img {
    align-self: center;
  }
  &__text {
    max-width: 606px;
  }
}
//article

// page article ==============================================================

//page servives ==============================================================
.attendance {
  margin-bottom: 90px;
  line-height: 25px;
  &__title {
    @extend %title-font;
    text-align: center;
    line-height: 58px;
    font-size: 45px;
    margin: 0 auto 60px;
  }
  &__slider {
  }
  &__slider-item {
    margin-top: 16px;
    margin-bottom: 16px;
    box-shadow: 0px 0px 16px rgba(216, 216, 216, 0.21);
    border-radius: 5px;
    padding: 28px 28px 30px;
  }
  &__slider-title {
    @extend %medium-font;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  &__slider-text {
    margin-bottom: 30px;
  }
  &__slider-subtitle {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  &__list {
    margin-bottom: 40px;
  }
  &__list-item {
  }
  &__small-text {
    font-size: 17px;
    line-height: 22px;
    color: #808080;
    max-width: 320px;
    margin-bottom: 17px;
  }
  &__btn {
    @extend %medium-font;
    color: #fff;
    border: none;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    width: 319px;
    text-align: center;
    height: 80px;
    padding: 0 38px;
    background: radial-gradient(
      54.12% 54.12% at 50% 50%,
      #6496ae 0%,
      #6496ae 0.01%,
      #97bdcf 100%
    );
    border-radius: 10px;
    cursor: pointer;
  }
}
//page servives ==============================================================

//footer
.footer {
  padding: 71px 0 68px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    @extend %medium-font;
    font-size: 17px;
    line-height: 22px;
  }
  &__info {
    align-self: flex-start;
    margin-right: 60px;
  }
  &__logo {
  }
  &__phone {
    margin-top: 49px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 32px;
  }
  &__phone-date {
    font-size: 14px;
    line-height: 12px;
    color: #959595;
  }
  &__phone-num {
    font-size: 23px;
    color: #000;
    line-height: 29px;
  }
  &__email {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  &__email-text {
    font-size: 15px;
    line-height: 19px;
  }
  &__email-name {
    color: #000;
    font-family: 'TT Norms Medium';
    font-size: 15px;
    line-height: 19px;
  }
  &__menu {
    padding-top: 5px;
    margin-right: 50px;
  }
  &__item {
    margin-bottom: 4px;
    max-width: 274px;
  }
  &__item--link {
    line-height: 19px;
  }
  &__item:last-child {
    margin-bottom: 0px;
  }
  &__item:first-child {
    margin-top: 10px;
  }
  &__link {
    font-size: 15px;
    line-height: 19px;
    color: #000;
  }

  &__activity {
    padding-top: 5px;
  }
}
//footer

@import 'media';
